//- includes/header.pug
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title= title

  link(rel="stylesheet" href="http://localhost:3000/css/main.css")
  script(src="http://localhost:3000/js/ajax.js")
  script(src="http://localhost:3000/js/mensakurz.js")

  // Bootstrap CDN
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  //leaflet CDN
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css")
  script(src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js")
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css")
  link(rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css")
  script(src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js")
  script(src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js")
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

  link(rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css")
  script(src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js")
