//- impressum.pug
doctype html
html
  include ./includes/header.pug
  body
    .container-fluid
      h1#h1
        | Impressum

      include ./includes/navbar.pug

      .row
        .column
          p Lia Kirch
          p Heisenbergerstraße 2
          p 48153 Münster
          p email.name@xxx.com
          p 02224 224433
