//- index.pug
doctype html
html
  include ./includes/header.pug
  body
    .container-fluid
      h1#h1
        | Der WWU Campus
      h3#h3
        | Ein interaktiver, Karten-basierter Planer
      include ./includes/navbar.pug
      h3#h3
        | Hallo und herzlich Willkommen auf dem interaktiven Planer des WWU-Campus!

      img#schloss(src="http://www.uni-muenster.de/imperia/md/images/zentral/journalisten/bildergalerie/gebaeude/04_schloss_grewer.jpg")

      p.text-left(style="padding-top: 60px")
        | Die Westfälische Wilhelms-Universität ist die fünftgrößte Universität Deutschlands.
      p.text-left
        | Rund 6.900 Abschlüsse werden hier pro Jahr erworben (Stand 2015).
      p.text-left
        | Diese Seite soll dir helfen dein Unileben angenehmer zu gestalten.
      p.text-left
        | Du findest hier Informationen über die Essensangebote deiner Mensa, deine Fakultät und deinen Fachbereich.
      p.text-left
        | Außerdem kannst Du suchen, wo Du bist und wie Du zu einer anderen Addresse kommst.
