//- mappage.pug
doctype html
html
  include ./includes/header.pug
  body
    .container-fluid
      h1#h1
        | Karte

      include ./includes/navbar.pug

      .row
        .col-sm-8.leftSpace.resize
          button.button3(type="button" onclick="getLocation()")
            | Mein Standort und kürzeste Weg zur Mensa
            i.fa.fa-map-marker(style="font-size:20px" color="white")
          br
          .border#mapid(style="height:500px; width:auto")
          .col-sm-4(style="padding-top:65px")
          textarea.form-control#urlToGeoJSON(rows="8" placeholder="Füge deine GeoJSON-Datei hier ein! Keine leere Datei einfügen!")
          br
          button.button1(type="button" onclick="addMarker('urlToGeoJSON')")
            | Zeige das GeoJSON
            br
          button.button2(type="button" onclick="getGeoJSON()")
            i.fa.fa-download
            | herunterladen als GEOJSON

      .modal.fade#status-box(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5.modal-title#modal-title
                | Objekt Status
              button.close(type="button" data-dismiss="modal" aria-label="Close" onClick="window.location.href=window.location.href")
                span(aria-hidden="true")
                  | &times;
            .modal-body#status-box-body
              | Überprüfe bitte nochmal deine Eingabe
            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal" onClick="window.location.href=window.location.href")
                | Close

    include ./includes/script.pug
